@import '../../global.scss';

.fm-about-section {
  .container {
    padding: 80px 0px;
    text-align: center;

    @media #{$screen-md} {
      width: 80%;
      text-align: left;
    }

    .fm-top-border {
      width: 120px;
      height: 1px;
      margin: 0px auto;
      background-color: $color-dark-grayish-violet;

      @media #{$screen-md} {
        margin: 0px;
      }
    }

    h1 {
      padding: 48px 0px;
      font-family: $font-family-heading;
      font-weight: $font-weight-heading;
      font-size: 2.2em;
      line-height: 1em;
    }

    .fm-about-cards {
      display: grid;
      grid-template-columns: 1fr;
      gap: 32px;

      @media #{$screen-md} {
        grid-template-columns: 1fr 1fr 1fr;
      }

      .fm-about-card {
        h2 {
          padding: 24px 0px;
          font-family: $font-family-heading;
          font-weight: $font-weight-heading;
          font-size: 1.5em;
        }

        p {
          line-height: 1.5em;
          color: $color-dark-grayish-violet;
        }
      }
    }

    .fm-find-out-more {
      margin-top: 64px;
      padding: 64px;
      background-color: $color-dark-violet;
      background-image: url('../../img/bg-pattern-how-we-work-mobile.svg');
      background-repeat: no-repeat;
      background-position: right;
      color: white;
      text-align: center;

      display: flex;
      flex-direction: column;
      align-items: center;

      @media #{$screen-md} {
        background-image: url('../../img/bg-pattern-how-we-work-desktop.svg');
        flex-direction: row;
        justify-content: space-between;
      }

      h1 {
        padding: 0px;
        padding-bottom: 48px;

        @media #{$screen-md} {
          padding: 0px;
          padding-right: 48px;
          text-align: left;
        }
      }

      a {
        display: block;
        width: 200px;
        padding: 8px 16px;
        color: white;
        border: 1px solid white;
        font-weight: $font-weight-bold;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        transition: $time-transition;

        &:hover {
          color: $color-dark-violet;
          background-color: white;
        }
      }
    }
  }
}